
.head-container{
    background-color: var(--black-bg-content);
}
.head-flex-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;

}
.nav-item{
    display: inline-block;
    color: var(--white-0);
    padding: 12px 16px;
    border-radius: 6px;
}
.nav-item:hover{
    background-color: brown;
}
.nav-item:active{
    background-color: var(--white-0);
    color: black;
}
.main-container{
    background-color: var(--black-5);
}
.main-intro-h1{
    color: var(--white-0);
}